mat-toolbar {
  height: 56px;
  z-index: 2;
  position: sticky;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  height: calc(100vh - 56px);
  padding: 16px;
}
