<p mat-dialog-title>ユーザー追加</p>

<div fxLayout="column" fxLayoutGap="8px">
  <mat-form-field appearance="fill">
    <mat-label>名前</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>メールアドレス</mat-label>
    <input matInput />
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="8px">
    <span fxFlex></span>
    <button mat-raised-button mat-dialog-close>確定</button>
    <button mat-raised-button mat-dialog-close>キャンセル</button>
  </div>
</div>
